@model LoginCadastroMVC.Models.Patient

@{
    ViewBag.Title = "Editar Paciente";
}

<link rel="stylesheet" href="~/css/editarpaciente.css" />

<div class="container-edit-patient">
    <div class="profile-pic-edit">
        <img src="~/img/IMG_0752.jpeg" alt="Foto do Paciente">
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)

        <div class="form-edit-patient">
            <div class="form-title-edit-patient">Alterar Cadastro de Paciente</div>

            <div class="input-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Nome Completo" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validation-error" })
            </div>

            <div class="input-group">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { placeholder = "Número de Telefone" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "validation-error" })
            </div>

            <div class="input-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "E-mail", type = "email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-error" })
            </div>

            <div class="input-group">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { placeholder = "Data de Nascimento", type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "validation-error" })
            </div>

            <div class="input-group">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "Endereço" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "validation-error" })
            </div>

            <div class="input-group">
                @Html.TextAreaFor(model => model.Complaint, new { placeholder = "Queixa", rows = 3 })
                @Html.ValidationMessageFor(model => model.Complaint, "", new { @class = "validation-error" })
            </div>

            <div class="input-group">
                @Html.TextBoxFor(model => model.SpecialtiesString, new { placeholder = "Especialidades" }) 
                @Html.ValidationMessageFor(model => model.SpecialtiesString, "", new { @class = "validation-error" }) 
            </div>

            <div class="buttons-container">
                <button type="submit" class="button-edit-patient save-edit-patient">Salvar</button>
                <button type="button" class="button-edit-patient cancel-edit-patient" onclick="window.location.href='/patients/index'">Cancelar</button>
            </div>
        </div>
    }
</div>