@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["LoginSucess"] != null)
{
    <script>
        alert("@TempData["LoginSucess"]");
    </script>
}

<!-- Seção inicial (Tela Home) -->
<div id="home" style="height: 200vh;">
    @Html.Partial("Tela_home")
</div>

<!-- Seção de Antes de Depois -->
<div id="antes_depois" style="height: 100vh; background-color: #d4c6ab;">
    @Html.Partial("Antes_depois")
</div>

<!-- Seção Hitória -->
<div id="historia" style="height: 100vh;">
    @Html.Partial("Historia")
</div>

<!-- Seção de Depoimentos -->
<div id="depoimentos" style="height: 100vh; background-color: #d4c6ab;">
    @Html.Partial("Depoimentos")
</div>

<!-- Seção de Localização -->
<div id="location" style="height: 100vh;">
    @Html.Partial("Location")
</div>

<!-- Seção Agendamento -->
<div id="agendamento" style="height: 100vh;">
    @Html.Partial("~/Views/Patient/Create.cshtml")
</div>

<!-- Seção de Privacy -->
<div id="privacy" style="height: 100vh; background-color: #d4c6ab;">
    <h2>Privacy</h2>
    <p>Política de privacidade...</p>
</div>
