@model LoginCadastroMVC.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css" />

<!-- Página de login -->
<div class="login-container">
    <div class="img-container">
        <img src="~/img/IMG_0752.jpeg" alt="Imagem de login">
    </div>

    <div class="login-container-form">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        
            <div class="input-container">
                @Html.TextBoxFor(m => m.Email, new { @class = "login-input", placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="input-container">
                @Html.PasswordFor(m => m.Password, new { @class = "login-input", placeholder = "Senha" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="link-button login-button">Login</button>
        }
        <a href="/Conta/RedefinirSenha" class="forgot-password">Esqueceu sua senha?</a>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
